#map {
    height: 100vh;
    width: calc(100% - 300px);
    position: absolute;
    right: 0;
}

#menu {
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000;
    overflow-y: auto;
    max-height: 100vh;
}

#menu h3 {
    margin-top: 0;
}

#menu ul {
    list-style: none;
    padding-left: 0;
}

/* Opacity controls styling */
#opacity-controls {
    width: 300px;
    position: absolute;
    top: 45%;
    left: 0;
    background: white;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000;
}

#opacity-controls h3 {
    margin-top: 0;
}

/* Legend styling */
.info.legend {
    background: white;
    line-height: 1.5;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000;
}

.info.legend img {
    display: block;
    margin-bottom: 5px;
}

#station-controls label {
    font-weight: bold;
}

#station-controls div {
    margin-bottom: 10px;
}

#station-controls input[type="checkbox"] {
    margin-right: 5px;
}

#credits {
    width: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000;
    overflow-y: auto;
    max-height: 100vh;
}
